@import "tailwindcss";

@theme {
  --font-display: "Archivo Black", sans-serif;
  --font-mono: "Space Mono", monospace;
}

:root {
  background-color: #000;
  color: #fff;
  cursor: crosshair;
}

.module-border {
  border: 1px solid rgba(255, 255, 255, 0.8);
  position: relative;
}

.side-label {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.2em;
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}